<html>
<head><title>Channel</title></head>

<body>

<div id="chat-log">
  {% for id,author, message, replies in messages %}
    <p id={{id}}>{{author}}
      {{message}}
    </p>
  {% endfor %}
</div>

 		<!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br/> -->
       <input type='text' name='mess' id='chat-message-input'>
      <input id="chat-message-submit" type="button" value="Send"/>

</body>
<script>
    var roomName = {{ id }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    var remChatSocket = new WebSocket(
      'ws://' + window.location.host +
      '/ws/chat/delete/' + roomName + '/'
    );

    var lastid = {{last_id}}
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var email = data['email'];
        //p tag cretion
        var para = document.createElement("p");
        var attr = document.createAttribute("id");
        attr.value = lastid;
        para.setAttributeNode(attr)
        var node = document.createTextNode(email + ":   "+message);
        para.appendChild(node);
        var element = document.getElementById("chat-log");
        element.appendChild(para);


        //p tag cretion
        var inp = document.createElement("input");
        var attr1 = document.createAttribute("id");
        attr1.value = lastid;
        inp.setAttributeNode(attr1)
        var attr2 = document.createAttribute("type");
        attr2.value = "button";
        inp.setAttributeNode(attr2)
        var attr3 = document.createAttribute("value");
        attr3.value = "-";
        inp.setAttributeNode(attr3)
        var attr4 = document.createAttribute("onClick");
        attr4.value = "send_id(this.id)";
        inp.setAttributeNode(attr4)

        var element = document.getElementById("chat-log");
        element.appendChild(inp);
        lastid = lastid + 1
        // document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };


    remChatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var id1 = data['message'];

        //p tag cretion
          var parent = document.getElementById("chat-log");
          var child = document.getElementById(id1);

          parent.removeChild(child);
          parent.removeChild(id1)

        // document.querySelector('#chat-log').value += (message + '\n');
    };

    remchatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    function send_id(id1) {
      var messid = id1;
      remChatSocket.send(JSON.stringify({
        'message': messid,
      }))
    };
    // document.querySelector('#chat-message-submit').onclick = function(e) {
    //     var messageInputDom = document.querySelector('#chat-message-input');
    //     var message = messageInputDom.value;
    //     chatSocket.send(JSON.stringify({
    //         'message': message
    //     }));
    //
    //     messageInputDom.value = '';
    // };

</script>
</html>

</html>
