<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    {% for ch,id in channels %}
      <a href='workspace/channel/{{id}}'>{{ch}}</a>
    {% endfor %}
    {% if isadmin %}
      <a href='http://127.0.0.1:8000/invite/workspace/{{workid}}'>Invite</a>
      <a href='http://127.0.0.1:8000/workspace/create/channel/{{workid}}'>Create Channel</a>
    {% endif %}
    {% for id,email in users %}
      <a href='http://127.0.0.1:8000/workspace/user/{{id}}'>{{email}}</a>
    {% endfor %}
  </body>
</html>
